// COLORS
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-red-light:#FA8072;
$color-red-dark: #FF0000;

$color-yellow-light: #f5f67a;
$color-yellow-dark: #ffdb00;

$color-blue-light: #2998ff; 
$color-blue-dark: #5643fa;

$color-gray-light: #ddd;
$color-gray-dark: #999;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 100rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;