@keyframes changeBg { 
   0%  {background-image: url("../img/wheel.png");}
   33%  {background-image: url("../img/fluctuation.png");}
   67%  {background-image: url("../img/windmill.png");}
   100%  {background-image: url("../img/wheel.png");}
}